.admin-all-users-scope-title{
    font-size: 2em;
    font-weight: 300;
}
.modal.user-fall-back .modal-dialog{
    max-width: 800px;
}
.user-fall-back-textarea{
    font-size: 1.2em;
}
.user-fall-back .info{
    font-size: 1.1em;
}
@media (max-width: 1200px){
    .admin-all-users,
    .modal.user-fall-back .modal-dialog{
        font-size: .9em;
    } 
}
@media (max-width: 960px){
    .admin-all-users,
    .modal.user-fall-back .modal-dialog{
        font-size: .8em;
    } 
}
@media (max-width: 767px){
    .admin-all-users,
    .modal.user-fall-back .modal-dialog{
        font-size: .7em;
    } 
}