.admin-all-credits-modal-title{
    font-size: 2em;
    font-weight: 300;
}
.modal.user-fall-back .modal-dialog{
    max-width: 800px;
}
.admin-add-credit-wrapper{
    max-width: 768px;
}
.admin-all-credits-wrapper{
    background-color: #e9ecef;
}
.admin-credits-list-wrapper{
    background-color: whitesmoke;
}
@media (max-width: 1200px){
    .admin-add-credit,
    .admin-credits-list,
    .modal.user-fall-back .modal-dialog{
        font-size: .9em;
    } 
}
@media (max-width: 960px){
    .admin-add-credit,
    .admin-credits-list,
    .modal.user-fall-back .modal-dialog{
        font-size: .8em;
    } 
}
@media (max-width: 767px){
    .admin-add-credit,
    .admin-credits-list,
    .modal.user-fall-back .modal-dialog{
        font-size: .7em;
    } 
}
@media (max-width: 560px){
    
}
