.admin-credits-list th,
.admin-credits-list td{
    font-size: 1.1em;
}
.admin-credits-list .btn{
    font-size: 1em;
    margin: 0 5px;
}
.admin-credits-list thead th{
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background: #f5f5f5;
}
.admin-credits-list thead th[rowspan]:not(:last-child),
.admin-credits-list thead th:nth-child(2n+1){
    border-right: 2px solid #dee2e6;
}
.admin-credits-list thead .units th{
    font-weight: 400;
    font-style: italic;
    border-right: 2px solid #dee2e6;
}
.admin-credits-list thead th.name{
    min-width: 150px;
}
.admin-credits-list thead th.description{
    min-width: 290px;
}
.admin-credits-list tbody td{
    text-align: center;
}
.admin-credits-list tbody td .controller{
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.admin-credits-list .example-enter {
    opacity: 0.01;
    height: 0.01px;
    margin: 0;
    padding: 0;
    font-size: 0;
    transform: scale(0.1);
  }

.admin-credits-list .example-enter.example-enter-active {
    opacity: 1;
    transform: scale(1);
    height: auto;
    margin: auto;
    font-size: 1em;
    transition: all 300ms ease-in;
  }

.admin-credits-list  .example-leave {
    opacity: 1;
    transform: scale(1);
  }
  
.admin-credits-list .example-leave.example-leave-active {
    opacity: 0.01;
    transform: scale(0.1);
    height: 0.01px;
    margin: 0;
    padding: 0;
    font-size: 0;
    transition: all 300ms ease-in;
  }
  .admin-credits-list .no-items-message{
      background-color: transparent!important;
  }
  .admin-credits-list .no-items-message:hover{
    background-color: transparent!important;
}
.admin-credits-list .no-items-message .message{
    font-weight: 300;
    font-size: 2em;
}
@media (max-width: 1200px){
    .admin-credits-list thead th{
        white-space: normal;
    }
}
@media (max-width: 960px){
    .admin-credits-list th,
    .admin-credits-list td{
        font-size: 1.3em;
    }
    .admin-credits-list thead th.description{
        min-width: 200px;
    }
    .admin-credits-list tbody td .controller{
        align-items: flex-start;
        flex-flow: column;
        padding: 0.75rem;
    }
    .admin-credits-list .btn{
        margin: 5px 0;
        width: 100%;
    }
}
@media (max-width: 767px){
    .admin-credits-list th,
    .admin-credits-list td{
        font-size: 1.5em;
    }
    .admin-credits-list thead th.name{
        min-width: auto;
    }
    .admin-credits-list thead th.description{
        min-width: 150px;
    }
}
@media (max-width: 560px){
    
}