.credit-conditions-wrapper,
.credit-conditions{
    background-color: #fff;
}
.credit-conditions .check-mark-img{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background: url('../Image/checkmark.svg') no-repeat center;
    background-size: contain;
}
.jumbotron .title{
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
}
.credit-conditions .condition{
    margin: 20px 0;
    padding: 0 10px;
}
.credit-conditions .condition-text{
    font-size: 1.5em;
}
@media (max-width: 1200px){
    .credit-conditions .condition-text{
        font-size: 1.15em;
    }
    .credit-conditions .check-mark-img{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 960px){
    .jumbotron .title{
        font-size: 2.4em;
    }
    .credit-conditions .condition-text{
        font-size: 1em;
    }
    .credit-conditions .check-mark-img{
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 767px){
    .credit-conditions .condition-text{
        font-size: 0.8em;
    }
    .credit-conditions .check-mark-img{
        width: 40px;
        height: 40px;
    }
    .credit-conditions .condition{
        margin: 10px 0;
    }
}
@media (max-width: 575px){
    .credit-conditions .condition-text{
        font-size: 0.75em;
    }
}