.userAcc-wrapper{
    background-color: #e9ecef;
}
.userAvatar{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.userAcc{
    padding: 20px 10px;
}
.userAcc .userAvatar{
    width: 240px;
    height: 240px;
    margin-right: 10px;
    background-image: url(../Image/avatar.png);
}
.userAcc .user-name{
    font-size: 2.5em;
    font-weight: 300;
}
.userAcc .user-email{
    font-size: 1.5em;
}
.userAcc .user-role{
    font-size: 1.2em;
    letter-spacing: 2px;
    font-style: italic;
}
.userAcc .btn{
    font-size: 1em;
    width: 50%;
}
.userAcc .empty-space{
    background: url(../Image/logo.svg) no-repeat center;
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(102%) contrast(107%);
    background-size:  cover;
}
.change-data-title{
    font-weight: 300;
    font-size: 1.8em;
}
.changeUserData label,
.changeUserData input{
    font-size: 1em;
}
 .change-data-wrapper{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.58);
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
} 
.changeUserData .btn{
    font-size: 0.9em;
    width: 200px;
}
.change-avatar .modal-dialog{
    max-width: 1100px;
}
.change-avatar.modal.fade .modal-dialog {
    transform: scale(0.25);
    opacity: 0;
    transition: all .25s linear;
  }
  
  .change-avatar.modal.fade.show .modal-dialog {
    opacity: 1;
    transform: scale(1);
  }

@media (max-width: 1200px){
   .userAcc .user-data{
       font-size: 0.9em;
       z-index: 1;
   }
   .userAcc .userAvatar{
    width: 220px;
    height: 220px;
    }
    .change-avatar .modal-dialog{
        max-width: 860px;
    }
    .changeUserData{font-size: 0.9em;}
}
@media (max-width: 960px){
    .userAcc .user-data,
    .changeUserData{
        font-size: 0.8em;
    }
    .userAcc .userAvatar{
     width: 200px;
     height: 200px;
 }
 .change-avatar .modal-dialog{
    max-width: 667px;
}
}
@media (max-width: 767px){
    .userAcc .user-data
    {
        font-size: 0.7em;
    }
    .userAcc .userAvatar{
     width: 180px;
     height: 180px;
 }.userAcc .btn{
     width: 75%;
 }
 .userAcc .user-name{
    font-size: 2em;
    font-weight: 300;
}
.changeUserData .btn{
    width: 200px;
}
.change-avatar .modal-dialog{
    max-width: 500px;
}
}
@media (max-width: 560px){
    .userAcc .user-name{
        font-size: 1.9em;
    }
    .userAcc .user-email{
        font-size: 1.4em;
    }
    .userAcc .user-data{
        font-size: 0.6em;
    }
    .userAcc .userAvatar{
        width: 120px;
        height: 120px;
    }
    .change-data-title{
        margin: 0;
        font-size: 1.5em;
    }
    .changeUserData .btn{
        margin-top: 10px;
        width: 100px;
    }
}
